
# Ignore everything in the "mirrorMe" directory, except the "wp-content" directory.
/mirrorMe/*
!/mirrorMe/wp-content/

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
/mirrorMe/wp-content/*
!/mirrorMe/wp-content/plugins/
!/mirrorMe/wp-content/themes/
