body {
    font-family: Arial, sans-serif;
    background-image: url(images/contact.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
}

.h2{
    margin-left: 180px;
}

.h1{
    margin-left: 70px;
    
}

.container,
.container1 {
    margin: 0;
    box-sizing: border-box;
}

.container {
    color: #333;
    width: calc(100% ); 
    margin-left: 235px;
    margin-right: 100px;
    border: 1px solid #ccc;
    padding: 30px;
    background-color: #f5f5f5;
}

.container1{
    margin-left: 10px;
    margin-right: 100px;
    padding-left: 60px;
}

.socialIcons a {
    text-decoration: none;
    color: inherit;
}

.contact-info {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f5f5f5;
    font-size: 25px;
}

.contact-info h3 {
    margin-bottom: 5px;
}

.contact-info p {
    margin-top: 2px;
    margin-bottom: 10px;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 5px;
    margin-top: 2px;
}

input[type="submit"] {
    width: 100%;
    padding: 5px;
    background-color:darkgray;
    border: none;
    cursor: pointer;
}
